[Unit]
Description=Telethon Session Bot
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/telethon-session-bot
ExecStart=/home/ubuntu/telethon-session-bot/venv/bin/python3 bot.py
EnvironmentFile=/home/ubuntu/telethon-session-bot/.env
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
